name: Publish apispec

on:
  workflow_call:
    secrets:
      NPM_AUTH_TOKEN:
        required: true
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true
    inputs:
      image:
        type: string
        required: false
        default: europe-docker.pkg.dev/ftcs-production/infrastructure/node-build-tools:16
      only_verify:
        required: false
        type: boolean
        default: false

jobs:
  apispec:
    name: Publish apispec
    runs-on: [self-hosted, common]
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-apispecman

      - name: Prepare dependencies
        run: |
          echo ${{ secrets.NPM_AUTH_TOKEN }} > /root/.npmrc
          npm i --quiet @general/apispec-manager@latest

      - name: Verify publishing
        run: |
          ./node_modules/.bin/apispecman publish --token ${{ secrets.NPM_AUTH_TOKEN }} --dry-run

      - name: Publish apispec
        run: |
          ./node_modules/.bin/apispecman publish --token ${{ secrets.NPM_AUTH_TOKEN }}
        if: ${{ ! inputs.only_verify }}
