name: Semantic Release

on:
  workflow_call:
    secrets:
      NPM_AUTH_TOKEN:
        required: true
      ACTIONS_TOKEN:
        required: true
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true
    inputs:
      image:
        type: string
        required: false
        default: europe-docker.pkg.dev/ftcs-production/infrastructure/node-build-tools:16
      git_author_name:
        required: false
        type: string
        default: Intergiro Bot
      git_author_email:
        required: false
        type: string
        default: 97522104+igirobot@users.noreply.github.com
      git_committer_name:
        required: false
        type: string
        default: Intergiro Bot
      git_committer_email:
        required: false
        type: string
        default: 97522104+igirobot@users.noreply.github.com

jobs:
  release:
    name: Semantic Release
    runs-on: [self-hosted, common]
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Workaround permissions issue'
        run: chown $(whoami):$(whoami) -R .

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-ci-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-ci-

      - name: Install NPM dependencies
        run: npm ci

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          GIT_AUTHOR_NAME: ${{ inputs.git_author_name }}
          GIT_AUTHOR_EMAIL: ${{ inputs.git_author_email }}
          GIT_COMMITTER_NAME: ${{ inputs.git_committer_name }}
          GIT_COMMITTER_EMAIL: ${{ inputs.git_committer_email }}
          HUSKY: "0"
        run: npx --no-install semantic-release
