name: Lint

on:
  workflow_call:
    secrets:
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true

jobs:
  lint:
    name: Lint
    runs-on: [self-hosted, common]
    container:
      image: gcr.io/ftcs-production/node-build-tools:16.13
      credentials:
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: 'Workaround permissions issue'
        run: chown $(whoami):$(whoami) -R .

      - name: Cache node_modules or install
        run: npm ci

      - name: Run lint
        run: npm run lint:ci
